{% extends 'task/base.html' %}

{% block title %}
    <title>任务列表</title>
    <link rel="stylesheet" href="/static/admin/admin/css/other/user.css"/>

    
{% endblock %}


{% block body %}
    {# 查询表单 #}
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 5px 5px;">
            <form class="layui-form" action="" lay-filter="task-query-form">
                <div class="layui-form-item">
                    <label class="layui-form-label">任务名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realName" placeholder="" class="layui-input">
                    </div>
                    <label class="layui-form-label">资产搜索</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username" placeholder="" class="layui-input">
                    </div>
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="task-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </form>
        </div>
    </div>
    {# 用户表格 #}
    <div class="user-main user-collasped">
        <div class="layui-card">
            <div class="layui-card-body" >
                <table id="tables" lay-filter="tables"></table>
            </div>
        </div>
    </div>
{% endblock %}

{% block models_script %}
    {# 表格操作 #}
    <script type="text/html" id="toolbar">
        <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="toolbar-add">
            <i class="pear-icon pear-icon-add"></i>
            新增
        </button>
        <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="toolbar-reboot">
          <i class="pear-icon pear-icon-refresh"></i>
          重启
      </button>
    </script>
    {# 用户修改操作 #}
    <script type="text/html" id="tool">
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="tool-detail">
          <i class="pear-icon pear-icon-image-text"></i>
        </button>
        <button class="pear-btn pear-btn-warming pear-btn-sm" lay-event="tool-start-stop">
            <i class="layui-icon layui-icon-logout"></i>
        </button>
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="tool-remove">
            <i class="pear-icon pear-icon-ashbin"></i>
        </button>
    </script>
    {# 当前运行模块 #}
    <script type="text/html" id="task-running-module">
      <button plain="" class="tag-item pear-btn pear-btn-primary pear-btn-sm"> {{ " {{ d.task_running_module }} " }} </button>
    </script>
    {# 运行状态 #}
    <script type="text/html" id="task-status">
      {% raw %}
      {{#  if(d.task_status == 'Running'){ }}
        <button plain="" class="pear-btn pear-btn-success pear-btn-sm"> {{ d.task_status }}</button>
      {{#  } }}

      {{#  if(d.task_status == 'Finish'){ }}
        <button plain="" class="pear-btn pear-btn-danger pear-btn-sm"> {{ d.task_status }} </button>
      {{#  } }}

      {{#  if(d.task_status == 'Paused'){ }}
        <button plain="" class="pear-btn pear-btn-warming pear-btn-sm"> {{ d.task_status }} </button>
      {{#  } }} 

      {{#  if(d.task_status == 'Waiting'){ }}
        <button plain="" class="pear-btn pear-btn-warming pear-btn-sm"> {{ d.task_status }} </button>
      {{#  } }} 

      {{#  if(d.task_status == 'Error'){ }}
        <button plain="" class="layui-btn layui-btn-danger pear-btn-sm"> {{ d.task_status }} </button>
      {{#  } }} 
      {% endraw %}
    </script>

    <script>
      layui.use(['table', 'dtree', 'form', 'jquery', 'popup', 'common'], function () {
        let table = layui.table
        let form = layui.form
        let $ = layui.jquery
        let dtree = layui.dtree
        let popup = layui.popup
        let common = layui.common

        // 表格数据
        const get_columns = () => [
          [
            { title: '任务ID', field: 'task_id', align: 'center' },
            { title: '任务名称', field: 'task_name', align: 'center' },
            { title: '目标', field: 'task_target', align: 'center',weight: 50,templet: '#task-target'},
            { title: '结果数', field: 'task_result_count', align: 'center' },
            { title: '正在运行模块', field: 'task_running_module', align: 'center', templet: '#task-running-module' },
            { title: '任务状态', field: 'task_status', templet: '#task-status',align: 'center' },
            { title: '开始时间', field: 'task_start_time', align: 'center' },
            { title: '结束时间', field: 'task_stop_time', align: 'center' },
            { title: '操作', toolbar: '#tool', align: 'center', width: 160 },
          ],
        ]

        // 渲染表格数据
        table.render({
          parseData: parserTableData,
          elem: '#tables',
          url: '/api/v1/task/list',
          page: true,
          cols: get_columns(),
          even: true,
          skin: 'line',
          height: 'full-148',
          toolbar: '#toolbar', /*工具栏*/
          text: { none: '暂无信息' },
          defaultToolbar: [{ layEvent: 'refresh', icon: 'layui-icon-refresh' }, 'filter', 'print', 'exports'], /*默认工具栏*/
        })

        table.on('tool(tables)', function (obj) {
          if (obj.event === 'tool-remove') {
            window.tool_remove(obj)
          } else if (obj.event === 'tool-start-stop') {
            window.tool_start_stop(obj)
          } else if (obj.event === 'tool-detail') {
            window.tool_detail(obj)
          }
        })

        table.on('toolbar(tables)', function (obj) {
          if (obj.event === 'toolbar-add') {
            window.toolbar_add()
          } else if (obj.event === 'toolbar-reboot') {
            window.toolbar_reboot()
          } else if (obj.event === 'refresh') {
            window.refresh()
          } else if (obj.event === 'toolbar-remove') {
            window.toolbar_remove(obj)
          } else if (obj.event === 'toolbar-collasped') {
            $('.user-left').toggleClass('user-collasped')
            $('.user-main').toggleClass('user-collasped')
            table.resize()
          }
        })

        form.on('submit(task-query)', function (data) {
          window.refresh(data.field)
          return false
        })

        window.toolbar_add = function () {
          layer.open({
            type: 2,
            title: '新增',
            shade: 0.1,
            area: ['550px', '550px'],
            content: '/task/add',
          })
        }

        window.toolbar_reboot = function (obj) {
          layer.confirm('确定要 重启整个任务列表 吗？', { icon: 3, title: '提示' }, function (index) {
            layer.close(index)
            let loading = layer.load()
            $.ajax({
              url: '/api/v1/task/reboot',
              type: 'get',

              success: function (result) {
                layer.close(loading)
                if (result.success) {
                  popup.success(result.message)
                } else {
                  popup.failure(result.message)
                }
              },
            })
          })
        }
      
        window.refresh = function (param) {
          table.reload('tables', { where: param })
        }

        window.tool_remove = function (obj) {
          layer.confirm('确定要删除该任务', { icon: 3, title: '提示' }, function (index) {
            layer.close(index)
            let loading = layer.load()
            $.ajax({
              url: '/api/v1/task/delete',
              data: JSON.stringify({ task_id: obj.data.task_id }),
              dataType: 'json',
              type: 'post',
              contentType: 'application/json',
              success: function (result) {
                layer.close(loading)
                if (result.success) {
                  popup.success(result.message, function () {
                    obj.del()
                  })
                } else {
                  popup.failure(result.message)
                }
              },
            })
          })
        }
        
        // 开始停止任务
        window.tool_start_stop = function (obj) {
          layer.confirm('确定要 暂停/启动/重启 该任务吗', { icon: 3, title: '提示' }, function (index) {
            layer.close(index)
            let loading = layer.load()
            $.ajax({
              url: '/api/v1/task/status',
              data: JSON.stringify({"task_id":obj.data.task_id,"task_status":obj.data.task_status}),
              dataType: 'json',
              contentType: 'application/json',
              type: 'post',

              success: function (result) {
                layer.close(loading)
                if (result.success) {
                  popup.success(result.message)
                } else {
                  popup.failure(result.message)
                }
              },
            })
          })
        }

        window.tool_detail = function (obj) {
          tab_title = '任务详情：' + obj.data.task_name;
          tab_id = obj.data.task_id;
          top.layui.tab.addTabOnlyByElem(
            "content",
            {
              id:tab_id,
              title:tab_title,
              url:"/task/detail/"+obj.data.task_id,
              close:"允许关闭"
            });
        }

      })
    </script>
{% endblock %}